body {
  background: rgb(38, 70, 83);
  background: linear-gradient(
    40deg,
    rgba(38, 70, 83, 1) 10%,
    rgba(94, 54, 133, 1) 59%,
    rgba(38, 70, 83, 1) 100%
  );
}

nav ul li a {
  color: var(--white);
}

.blog-home {
  width: 100vw;
  height: 100vh;
}

.blog-container {
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}

.blog {
  /*
  background-color: var(--primary-very-dark);
  border-radius: 10px;
  filter: drop-shadow(0px 0px 15px #00000032); */
  border-top: 4px solid var(--secondary-light);
  width: 80vw;
  height: auto;

  padding: 3rem;
  margin: 20px 0 100px 0;
}

.blog h2 {
  margin-bottom: 1rem;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.blog h4 {
  margin-bottom: 4rem;
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  font-weight: 300;
  font-style: italic;
}

.blog-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
}

.blog p {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-weight: 400;
}

/*BLOG1*/

@media only screen and (max-width: 700px) {
  .bar:nth-child(2) {
    background-color: var(--secondary-light);
  }

  .blog-container {
    position: relative;
    display: block;
    overflow-x: hidden;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    height: 100vh;
    z-index: 1000; /*In front of hamburger*/
  }

  #gototop-mobile {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
  }

  .blog {
    position: relative;
    border-top: none;
    width: 100vw;
    height: 100vh;
    padding: 80px 2rem 3rem 2rem;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  .blog h2 {
    font-size: 14px;
  }

  .blog h4 {
    margin-bottom: 0.5rem;
  }

  .blog-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.4rem 0;
  }

  .blog p {
    font-size: 12px;
  }
}
