@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;
}

a {
  text-decoration: none;
}

:root {
  --white: #f4f4f4;
  --font-black: #333;
  --primary-dark: #264653;
  --primary-very-dark: rgb(19, 35, 41);
  --secondary-main: #e9c46a;
  --secondary-light: #e0c3fc;

  font-size: 16px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
