@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

html {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #ddedfc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.page {
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .page {
    max-height: 100vh !important;
    width: 100vw;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  .scroll-down-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
