*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  color: #333;
  font-family: "Arial", sans-serif;
}
