body {
  background: rgb(38, 70, 83);
  background: linear-gradient(
    40deg,
    rgba(38, 70, 83, 1) 10%,
    rgba(94, 54, 133, 1) 59%,
    rgba(38, 70, 83, 1) 100%
  );
  scroll-behavior: smooth;
}

a {
  color: var(--primary-very-dark);
  text-decoration: none;
}

.single-publication-navigation {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-publication {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /*
  background-color: var(--primary-very-dark);
  border-radius: 10px;
  filter: drop-shadow(0px 0px 15px #00000032); */
  border-top: 4px solid var(--secondary-light);
  width: 100vw;
  height: auto;

  padding: 3rem;
  margin: 20px 0 100px 0;
}

.single-publication h2 {
  margin-bottom: 1rem;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
}

.single-publication h5 {
  margin-bottom: 1rem;
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  font-weight: 300;
  font-style: italic;
  align-self: flex-start;
}

.single-publication h5:last-child {
  margin-bottom: 4rem;
}

.single-publication-img {
  width: 60%;
  aspect-ratio: 16 / 9;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin: 4rem 0;
  align-self: flex-start;
}

.single-publication p {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  font-weight: 400;
}

.single-publication p a {
  color: var(--secondary-main);
}

/*BLOG1*/

@media only screen and (max-width: 700px) {
  .single-publication-navigation {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single-publication {
    position: relative;
    border-top: none;
    width: 100vw;

    padding: 20px 2rem 4rem 2rem;
    margin: 0;
    border-radius: 0;
  }

  .single-publication h5 {
    margin-bottom: 0.6rem;
  }

  .single-publication-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2rem 0;
  }
}
